<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
      <meta property="og:site_name" content="" /> <!-- website name -->
      <meta property="og:site" content="" /> <!-- website link -->
      <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
      <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
      <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
      <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
      <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>ECG Inference</title>
     <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/fontawesome-all.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/magnific-popup.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">

  
  <!-- Favicon  -->
    <link rel="icon" href="{{url_for('static', filename='images/ecg.svg')}}">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
  <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="{{url_for('static', filename='images/ecg.svg')}}" alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

         <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="{{url_for('static', filename='images/ecg.svg')}}"    alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="inference">Classify<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
           
        </div>
    </nav> <!-- end of navbar -->
      </nav> <!-- end of navbar -->

    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>ECG inference</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/">Home</a><i class="fa fa-angle-double-right"></i><span>Model by @Doaa</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->
<!--  -->

    <br><br>

        <div class="col-9 offset-2" align="left">
                <form class="form-horizontal" action="/inference" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                      <label class="control-label col-sm-4"  align ="left" for="pwd">Upload Your Image :</label>
                      <div class="col-sm-10">          
                        <input type="file" class="form-control" placeholder="Heart Risk Image"  name="my_image" id="pwd">
                      </div>
                      <br>
                      <label class="control-label col-sm-4"align ="left for="pwd">Give us your Professional Inference <i><b>NORMAL/MI</b></i>:</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" placeholder="Your Professional Inference"  name="doc_infer" id="pwd">
                      </div>
                    </div>

                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
              </form>
        </div>

        <div class="col-4 offset-4">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="alert alert-warning" role="alert" id="info" align="center">
                <ul class=flashes>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
                </ul>
              </div>
              {% endif %}
              
            {% endwith %}
        </div>

        <div id="inference" align="center">	

          {% if label %}
          <img src="{{img_path}}" height="500px" width="500px">
        	<h2> Model Inference   : 
                {% if label == 'MI'%}
                    <i style="color: red;"> {{ label }} </i>
                {% else %}
                    <i style="color: green;"> {{ label }} </i></h2>    
                {% endif %}
            </h2>

            <h3> <i>Doctor Professional Inference: {{real_label}}</i></h3>
            <!-- <h6> The image is stored in: <i style="background: gray;"></i> {{img_path}}</h4> -->
            {% endif %}

            <br>

                <div align="center">
                        <a href="/inference" class="btn btn-secondary btn-lg" style="font-size:1.5rem">Try Again</a>
                </div>
      </div>
      <br>

      
    </div>
      <br><br>
      <br><br>
      <br><br>



<!-- Footer -->
    <div id=contact class="footer">
        <div class="container">
            <div class="row">
            <img class="card-image" src="{{url_for('static', filename='images/omdena.png')}}"  width="150" height="150" alt="alternative">

                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Developed by:</h4>
                        <h5 class="white">Heart Risk Team</h2>
                        <h6 class="white">Local Chapter, Morocco</h6>
                    
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Connect</h4>
                        
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Tools Used</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#">Python / Flask / TensorFlow...</a>
                            </li>
                            
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->
    
      
    <!-- Scripts -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/morphext.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/validator.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{{url_for('static', filename='js/scripts.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</body>
</html>






